<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'school_site/CSS/main.css' %}" />
    <title>Obrium</title>
    <link rel="icon" type="image/ico" sizes="32x32" href="{% static 'school_site/images/ObrazMinLogo.ico' %}" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="divlogo">
          <a href="{% url 'reg' %}"
            ><img src="{% static 'school_site/images/ObrazMinLogo.ico' %}" alt="logo" class="logo"
          /></a>
          <span class="spanlogo">Obrium</span>
        </div>
        {% for i in subjects %}
        <div class="stat">
          <form action="{% url i %}">
            <button class="objects">{{i}}</button>
          </form>
        </div>
        {% endfor %}
        <form action="{% url 'profile' %}">
          <button class="reg">профиль</button>
        </form>
      </header>
      <main>
        <div class="testwrap">
          <span class="work"> название работы</span>
          <div class="end">
            <span class="count">количество заданий: 15</span>
            <button class="teststart">начать работу</button>
          </div>
        </div>
        <div class="testwrap">
          <span class="work"> название работы</span>
          <div class="end">
            <span class="count">количество заданий: 15</span>
            <button class="teststart">начать работу</button>
          </div>
        </div>
        <div class="testwrap">
          <span class="work"> название работы</span>
          <div class="end">
            <span class="count">количество заданий: 15</span>
            <button class="teststart">начать работу</button>
          </div>
        </div>
        <div class="testwrap">
          <span class="work"> название работы</span>
          <div class="end">
            <span class="count">количество заданий: 15</span>
            <button class="teststart">начать работу</button>
          </div>
        </div>
        <div class="testwrap">
          <span class="work"> название работы</span>
          <div class="end">
            <span class="count">количество заданий: 15</span>
            <button class="teststart">начать работу</button>
          </div>
        </div>
        {% if works != bbe %}
        {% for i in works %}
        <div class="testwrap">
          <span class="work"> название работы:</span><br>
          <span class="work"> тема работы:</span>
          <div class="end">
            <span class="count">bebebe</span>
            <button class="teststart">начать работу</button>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <di>РАБОТ НЕТ</di>
        {% endif %}
<!--   бред полнейший снизу     -->
        {% if done_works == bbe %}
        <div>{{bbe}}</div>
        <div>{{done_works}}</div>
            {% for i in done_works %}
             <div class="testwrap">
          <span class="work"> название работы: {{i.name}}</span><br>
          <span class="work"> тема работы: {{i.theme}}</span>
          <div class="end">
            <span class="count">bb</span>
            <button class="teststart">начать работу</button>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h1>выполенных работ нет</h1>
        {% endif %}
        {% for i in Works %}
        <div>
          <span>{{i.name}}: {{i.theme}}</span>
        </div>
        {% endfor %}
      </main>
      <footer>
        <div></div>
      </footer>
    </div>
  </body>
</html>
