<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href=" {% static 'school_site/CSS/profile.css' %}">
    <title>profile</title>
</head>
<body>
    <h1>
        <a href="{% url 'main' %}" class="prof_a">into main</a>
    </h1>
    <h2>USER</h2>
    <div>
        <span>NAME: {{info.name}}</span><br>
        <span>SURNAME: {{info.surname}}</span><br>
        <span>CLASS: {{info.stage}}</span>
    </div>
    <h2>WORKS</h2>
    <div>
        <ul>
        {% for i in info.works %}
            <li>
                {{i}}
            </li>
        {% endfor %}
        </ul>
    </div>


</body>
</html>