<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'school_site/CSS/main.css' %}" />
    <title>{% block title %}{% endblock %}</title>
  </head>
<body>
<div class="bebra">
<a href="{% url 'main' %}" class="main_a">into main</a>
 </div>
<div class="subjects">
<ul>
<li></li>
</ul>
</div>
</body>
</html>
